{{!-- <h1>Krishna Dress Store</h1> --}}
<link rel="stylesheet" href="/css/about.css".css">

<div class="container-fluid stripped_back">
        <div class="row">
            <div class="container">
                <section class="overview">
                    <div class="large-8 medium-12 small-12 centered columns clearfix">
                        <article class="col-sm-9 overview_text">
                            <h4 class="bold_class">Overview</h4>
                            <p>Our business has never been just about the technical results. From day one, it’s been about relationships. From our original three founders to the more than forty professionals contributing daily to our success, a shared respect for ingenuity and an unwavering sense of accountability unites us. With this simple creed, Nextrio has been fortunate to attract some of the industry’s best and brightest minds to work with inspirational clients.</p>
                            <a href="#more_on_overview " style=" color: #ff1919; ">LEARN ABOUT OUR SERVICES <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </article>
                        <!-- <div class="col-xs-12 hidden-md hidden-ls hidden-ls " style="padding-bottom: 30px;"></div> -->
                        <div class="col-sm-3 overview_list">
                            <div class="single category">
                                <ul class="list-unstyled">
                                    <li><a href="" title="">Meet Our Team </a></li>
                                    <li><a href="" title="">Partners </a></li>
                                    <li><a href="" title="">Testimonial </a></li>
                                    <li><a href="" title="">Community Investment </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="large-8 medium-12 small-12 centered columns clearfix">
                <section class="col-sm-8 col-md-9 article_post">
                    <article>
                        <header>
                            <h4 class="bold_class pad_bot pad_left">
                                Our Story & History
                            </h4>
                        </header>
                        <div class="col-sm-3 col-md-2">
                            <img src="https://nextrio.com/wp-content/uploads/courtyard-team-274x274.jpg" alt="post img" class="pull-left img-responsive thumb margin10 ">
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <p>
                                Nextrio is a good place for great people to do what they love every day. We work hard, play hard and take our roles seriously. We’re professionals — passionate about our craft and dedicated to the people we work and do business with. And we have a lot of fun along the way.
                            </p>
                            <p>When you love what you do, it shows. When you’re good at what you do, happy clients tell everyone!
                                people we work and do business with. And we have a lot of fun along the way.
                            </p>
                            <a href="#more_on_overview " style="color: #ff1919; ">SEE OUR COMMUNITY INVERSTMENT <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </article>
                    <article>
                        <header>
                            <h4 class="bold_class pad_bot pad_left">
                                Our Team
                            </h4>
                        </header>
                        <div class="col-sm-3 col-md-2">
                            <img src="https://nextrio.com/wp-content/uploads/courtyard-team-274x274.jpg" alt="post img" class="pull-left img-responsive thumb margin10 ">
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <p>
                                Nextrio is a good place for great people to do what they love every day. We work hard, play hard and take our roles seriously. We’re professionals — passionate about our craft and dedicated to the people we work and do business with. And we have a lot of fun along the way. When you love what you do, it shows. When you’re good at what you do, happy clients tell everyone!
                            </p>
                            <a href="#more_on_overview " style=" color: #ff1919; ">MEER OUR TEAM <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </article>
                    <section class="pad_top">
                        <div class="bs-example " data-example-id="striped-table">
                            <h4 class="bold_class pad_left">Awards</h4>
                            <table class="table  table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="bold_class blue">2014</td>
                                        <td>
                                            <ul class="list-group list-group-flush table_ul">
                                                <li>It all started with three IT consulting pros and a few businesses who were banging on our Tucson door before we officially launched!</li>
                                                <li>Everything doubled: clients served, staff hired, office space needed and fun produced!</li>
                                                <li>Everything doubled: clients served, staff hired, office space needed and fun produced!</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold_class blue">2013</td>
                                        <td>
                                            <ul class="list-group list-group-flush table_ul">
                                                <li>It all started with three IT consulting pros and a few businesses who were banging on our Tucson door before we officially launched!</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold_class blue">2012</td>
                                        <td>
                                            <ul class="list-group list-group-flush table_ul">
                                                <li>It all started with three IT consulting pros and a few businesses who were banging on our Tucson door before we officially launched!</li>
                                                <li>Everything doubled: clients served, staff hired, office space needed and fun produced!</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold_class blue">2011</td>
                                        <td>
                                            <ul class="list-group list-group-flush table_ul">
                                                <li>It all started with three IT consulting pros and a few businesses who were banging on our Tucson door before we officially launched!</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold_class blue">2010</td>
                                        <td>
                                            <ul class="list-group list-group-flush table_ul">
                                                <li>It all started with three IT consulting pros and a few businesses who were banging on our Tucson door before we officially launched!</li>
                                                <li>Everything doubled: clients served, staff hired, office space needed and fun produced!</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </section>
                <aside class="col-sm-4 col-md-3 article_aside">
                    <div class="profile">
                        <figure>
                            <img src="https://4.imimg.com/data4/WY/QK/MY-33710583/ladies-official-wear-500x500.jpg" alt="stephaine profile picture">
                            <figcaption>
                                <h5 class="bold_class" style="color: #fff;">
                                    STEPHAINE
                                </h5>
                            </figcaption>
                        </figure>
                        <h4 class="title">Best Work Challenge : </h4>
                        <h4 class="answer_title">Dealing with varities with personality</h4>
                        <h4 class="title">Favourite Work Perk : </h4>
                        <h4 class="answer_title">Free Dr. Peeper</h4>
                        <h4 class="title">Who Knew :</h4>
                        <h4 class="answer_title">I love paper Craft</h4>
                    </div>
                    <ul class="large_buttons">
                        <li>
                            <button class="btn contact_button " role="button">
                                <i class="fas fa-envelope-open-text vertical_middle pad_right"></i>
                                Contact us </button>
                            <button class="btn quote_button" role="button">
                                <i class="fa fa-calculator vertical_middle pad_right" aria-hidden="true"></i>
                                Request a Quote </button>
                            <button class="btn solutions " role="button">
                                <i class="fa fa-search vertical_middle pad_right" aria-hidden="true"></i>
                                Find Solutions </button>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <div id="dotted_line"></div>